<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ReolmarkedDb"
			 connectionString="Data Source=Server01;Initial Catalog=ReolmarkedDb;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>








